
body{
    background: 'grey-wallpaper.png';
    background-repeat: true;
}
table, td {
    table-layout: fixed;
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: white;
    text-align: center;
    font-family: Helvetica;
}
th{
    padding: 8px;
}
h1, h3{
    color:white;
    font-family: Helvetica;
}
.token{
    background-color: #8CE2FF;
}
.no{
    background-color: #E0E0E0;
}
